$primary-color: #f48c06;
$secondary-color: #2f327d;
$third-color: #252641;
$bg-header: #fff2e1;
$gray-dark: #6c6c6c;
$gray-darker: #464646;
$text-color: #696984;
$white-color: #fff;
$blue-color: #65daff;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$wrapper: 1920px;
$container: 1580px;
$purple-color: #5b72ee;
$light-blue-color: #29b9e7;
$orange-color: #f4b767;
$primary-light-color: #525596;
$pink-color: #F67766;

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/Nunito_Sans/NunitoSans-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-weight: 400;
  font-family: $font-primary;
  color: $text-color;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: $font-primary;
  text-decoration: none;
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 80px;
  color: $gray-dark;
  line-height: calc(33 / 22);
  cursor: pointer;
  transition: all 0.2s linear;

  &--white {
    background: $white-color;
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
  }

  &--primary {
    background: $primary-color;
    color: $white-color;
  }

  &--outline {
    background: transparent;
    border: 1px solid $white-color;
    color: $white-color;

    &:hover {
      background: rgba(35, 189, 238, 0.9);
      border-color: rgba(35, 189, 238, 0.9);
    }
  }
}

.global {
  &-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 180%;
    margin-bottom: 20px;
    text-align: center;
    color: $secondary-color;

    span {
      color: $primary-color;
    }
  }

  &-desc {
    color: $text-color;
    font-size: 24px;
    text-align: center;
    line-height: 180%;
    margin: 0;
    letter-spacing: 0.03em;
  }

  &-heading2 {
    font-family: $font-secondary;
    font-size: 36px;
    line-height: 160%;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 700;
    color: $secondary-color;

    span {
      color: $primary-color;
    }
  }
}

.btn-style-2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: $primary-color;
  border: 1px solid $primary-color;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.03em;
  text-decoration: none;
  border-radius: 80px;
  padding: 19px 38px;
  transition: all 0.2s linear;
  &:hover {
    background: $primary-color;
    color: $white-color;
  }
}

.title-name {
  position: relative;
  font-family: $font-secondary;
  color: $primary-light-color;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin-bottom: 33px;
  padding-left: 110px;

  &::before {
    content: '';
    height: 1px;
    width: 80px;
    background: $primary-light-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}