.company {
  padding-top: 100px;

  &-wrapper {
    max-width: 1337px;
    margin: 0 auto;
  }

  &-heading {
    color: $text-color;
    font-size: 28px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    margin-bottom: 32.93px;
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;

    img {
      display: block;
    }
  }
}

.introduce {
  padding-top: 160px;
  padding-bottom: 158px;

  &-list {
    max-width: 1470px;
    margin: 0 auto;
    margin-top: 153px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 55px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  }

  &-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5b72ee;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    margin-bottom: 30px;
  }

  &-item:nth-child(2) {
    .introduce-icon {
      background-color: $primary-color;
    }
  }

  &-item:nth-child(3) {
    .introduce-icon {
      background-color: $light-blue-color;
    }
  }

  &-title {
    color: $secondary-color;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 24px;
    flex: 1;
  }

  &-desc {
    font-size: 20px;
  }
}

.about {
  padding-bottom: 180px;
  &-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .global-heading {
    font-size: 44px;
    font-weight: 600;
  }

  .global-desc {
    max-width: 1101px;
    margin: 0 auto;
  }

  &-list {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  &-item {
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    img {
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.6;
      background: rgba(23, 27, 65, 0.5);
    }

    &-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
    }
  }

  &-title {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    // margin-bottom: 17px;
    margin: 0;
  }

  .btn {
    padding: 23px 37px;
  }
}

.everything {
  padding-bottom: 180px;
  &-wrapper {
    max-width: 1547px;
    display: flex;
    align-items: center;
    gap: 47px;
    justify-content: space-between;
  }

  .global-heading {
    text-align: start;
    font-size: 36px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 30px;
  }

  .global-desc {
    text-align: start;
    margin-bottom: 30px;
  }

  &-content {
    max-width: 730px;
    padding-left: 25px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 73px;
      height: 73px;
      background: $orange-color;
      border-radius: 50%;
      transform: translateY(-13px);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 60%;
      right: 0;
      width: 30px;
      height: 30px;
      background: $orange-color;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &-image {
    position: relative;
    img {
      display: block;
    }

    .icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: $white-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding-left: 6px;
      cursor: pointer;
    }
  }

  &-link {
    color: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }
}


.features {

  .global-heading {
    font-size: 36px;
  }

  &-list {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 160px;

    .global-heading {
      font-size: 40px;
      font-weight: 600;
      line-height: 160%;
      text-align: start;
    }

    .global-desc {
      font-size: 22px;
      text-align: start;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
    }
  }

  &-list-child {
    padding-top: 30px;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-child-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: $white-color;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: (0px 15px 44px rgba(13, 15, 28, 0.12));
  }

  &-item:nth-child(1) {

    .features-image {
      max-width: 60%;
    }

    .features-content {
      max-width: 40%;
      padding-left: 75px;
    }
  }

  &-item:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &-item:nth-child(2) {
    max-width: 1441px;
    .features-image {
      max-width: 45%;
    }

    .features-content {
      max-width: 55%;
    }
  }
  
  &-item:nth-child(3) {
    max-width: 1461px;
    .features-image {
      max-width: 42%;
    }

    .features-content {
      max-width: 58%;
    }
  }

  &-item:nth-child(4) {
    max-width: 1545px;
    .features-image {
      max-width: 50%;
    }

    .features-content {
      max-width: 50%;
    }
  }

  &-item:nth-child(5) {
    max-width: 1486px;
    .features-image {
      max-width: 50%;
    }

    .features-content {
      max-width: 50%;
    }
  }

}
