.wrapper {
  overflow: hidden;
}

.company {
  padding-top: 100px;

  .container {
    transform: translateY(100%);
    transition: all 0.6s ease-in-out;
    opacity: 0;
  }

  &-wrapper {
    max-width: 1337px;
    width: 100%;
    margin: 0 auto;
  }

  &-heading {
    color: $text-color;
    font-size: 28px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    margin-bottom: 32.93px;
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;

    img {
      display: block;
    }
  }
}

.introduce {
  padding-top: 160px;
  padding-bottom: 158px;

  .container {
    transform: translateY(100%);
    transition: all 0.6s ease-in-out 0.8s;
    opacity: 0;
  }

  &-list {
    max-width: 1470px;
    margin: 0 auto;
    margin-top: 153px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 55px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  }

  &-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5b72ee;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    margin-bottom: 30px;
  }

  &-item:nth-child(2) {
    .introduce-icon {
      background-color: $primary-color;
    }
  }

  &-item:nth-child(3) {
    .introduce-icon {
      background-color: $light-blue-color;
    }
  }

  &-title {
    color: $secondary-color;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 24px;
    flex: 1;
  }

  &-desc {
    font-size: 20px;
  }
}

.about {
  padding-bottom: 180px;
  &-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .global-heading {
    font-size: 44px;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
  }

  .global-desc {
    max-width: 1101px;
    margin: 0 auto;
    transition: all 0.6s ease-in-out 0.5s;
    transform: translateY(100%);
    opacity: 0;
  }

  &-list {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  &-item {
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    img {
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.6;
      background: rgba(23, 27, 65, 0.5);
    }

    &-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
    }
  }

  &-item:nth-child(1) {
    transition: all 0.6s linear 1s;
    transform: translateX(-100%);
    opacity: 0;
  }

  &-item:nth-child(2) {
    transition: all 0.6s linear 1s;
    transform: translateX(100%);
    opacity: 0;
  }

  &-title {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    // margin-bottom: 17px;
    margin: 0;
  }

  .btn {
    padding: 23px 37px;
  }
}

.everything {
  padding-bottom: 180px;
  &-wrapper {
    max-width: 1547px;
    display: flex;
    align-items: center;
    gap: 47px;
    justify-content: space-between;
  }

  .global-heading {
    text-align: start;
    font-size: 36px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 30px;
  }

  .global-desc {
    text-align: start;
    margin-bottom: 30px;
  }

  &-content {
    max-width: 730px;
    padding-left: 25px;
    position: relative;
    transition: all 0.5s ease-in-out 0.5s;
    transform: translateX(-100%);
    opacity: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 73px;
      height: 73px;
      background: $orange-color;
      border-radius: 50%;
      transform: translateY(-13px);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 60%;
      right: 0;
      width: 30px;
      height: 30px;
      background: $orange-color;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &-image {
    position: relative;
    transition: all 0.5s ease-in-out 0.5s;
    transform: translateX(100%);
    opacity: 0;

    img {
      display: block;
    }

    .icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: $white-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 6px;
      cursor: pointer;
    }
  }

  &-link {
    color: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }
}

.features {
  .global-heading {
    font-size: 36px;
    transition: all 0.5s ease-in-out 0.5s;
    transform: translateY(100%);
    opacity: 0;
  }

  .global-desc {
    transition: all 0.5s ease-in-out 1s;
    transform: translateY(100%);
    opacity: 0;
  }

  &-list {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 160px;

    .global-heading {
      font-size: 40px;
      font-weight: 600;
      line-height: 160%;
      text-align: start;
    }

    .global-desc {
      font-size: 22px;
      text-align: start;
    }
  }

  .btn-style-2 {
    transition: all 0.5s ease-in-out 0.5s;
    transform: translateY(100%);
    opacity: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
    }
  }

  &-list-child {
    padding-top: 30px;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-item-child {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  $features-item: 3;
  $features-duration: (1s, 1.5s, 2s);

  @for $i from 1 through $features-item {
    &-item-child:nth-child(#{$i}) {
      transition: all 0.5s ease-in-out nth($features-duration, $i);
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: $white-color;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: (0px 15px 44px rgba(13, 15, 28, 0.12));
  }

  &-item:nth-child(1) {
    .features-image {
      max-width: 60%;
    }

    .features-content {
      max-width: 40%;
      padding-left: 75px;

      .global-heading {
        transition: all 0.5s ease-in-out 0.5s;
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }

  &-item:nth-child(odd) {
    .features-image {
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  &-item:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &-item:nth-child(2) {
    max-width: 1441px;
    .features-image {
      max-width: 45%;
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(100%);
      opacity: 0;
    }

    .features-content {
      max-width: 55%;
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  &-item:nth-child(even) {
    .features-image {
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(100%);
      opacity: 0;
    }

    .features-content {
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  &-item:nth-child(3) {
    max-width: 1461px;
    .features-image {
      max-width: 42%;
    }

    .features-content {
      max-width: 58%;
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &-item:nth-child(4) {
    max-width: 1545px;
    .features-image {
      max-width: 50%;
    }

    .features-content {
      max-width: 50%;
    }
  }

  &-item:nth-child(5) {
    max-width: 1486px;
    .features-image {
      max-width: 50%;
    }

    .features-content {
      max-width: 50%;
      transition: all 0.5s ease-in-out 0.5s;
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.integrations {
  padding-top: 160px;
  padding-bottom: 170px;

  .container {
    transition: all 0.5s ease-in-out 0.5s;
    transform: scale(0);
  }

  &-inner {
    max-width: 1457px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 84px;
    align-items: end;
    justify-items: end;

    img {
      display: block;
    }
  }

  .global-desc {
    font-family: $font-secondary;
    font-size: 24px;
    text-align: left;
    margin-bottom: 44px;
    letter-spacing: normal;
  }

  .btn-style-2 {
    margin: 0;
    padding: 20px 42px;
  }
}

.testimonial {
  &-inner {
    max-width: 1519px;
    margin: 0 auto;
    position: relative;
  }

  .container {
    transform: translateY(100%);
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 0;
  }

  &-slide {
    display: flex;
    // justify-content: space-between;
    padding-bottom: 150px;
  }

  .global-heading2 {
    font-size: 60px;
    line-height: normal;
    color: $secondary-color;
  }

  .global-desc {
    font-size: 26px;
    line-height: 160%;
    letter-spacing: 0.025em;
    text-align: left;
  }

  .btn-style-2 {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 0 0 0 38px;
    margin: 0;
    &:hover {
      color: $primary-color;
      background-color: $white-color;
    }

    .icon {
      img {
        display: block;
      }
    }
  }

  &-image {
    padding-left: 192px;
    img {
      border-radius: 20px;
      display: block;
    }
  }

  &-box-desc {
    position: absolute;
    background: $white-color;
    border-radius: 20px;
    padding: 41px 59px 29px 51px;
    transform: translate(13%, -80%);
    box-shadow: 2px 4px 60px 0px rgba(41, 44, 124, 0.1);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $pink-color;
      width: 14px;
      height: 100%;
      border-radius: 20px 0 0 20px;
    }
  }

  &-desc {
    padding-left: 31px;
    border-left: 1px solid #bdbdd1;
    margin-top: 0;
    margin-bottom: 43px;
  }

  &-arctical-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-reviewbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #80819a;
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: 600;
    line-height: 180%; /* 32.4px */
    gap: 12px;
    letter-spacing: 0.0225em;

    img {
      display: block;
    }
  }

  &-authour {
    color: #5f5f7e;
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 600;
    line-height: 180%;
  }

  &-btn-nextslide {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.news {
  padding-bottom: 160px;
  .container {
    max-width: 1557px;
  }

  .global-heading2 {
    font-size: 36px;
    line-height: 180%;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out 0.4s;
  }

  &-desc_heading {
    color: $text-color;
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 400;
    line-height: 180%;
    text-align: center;
    margin: 0;
    transition: all 0.5s ease-in-out 0.8s;
  }
  &-desc_heading,
  .global-heading2 {
    transform: translateY(100%);
    opacity: 0;
  }

  &-list {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    row-gap: 50px;
    column-gap: 120px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out 1.2s;
  }

  &-title {
    color: #252641;
    font-family: $font-primary;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &-item {
    img {
      display: block;
      flex-shrink: 0;
      border-radius: 20px;
    }
  }

  &-desc {
    margin: 0;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.025em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &-tag {
    background-color: $orange-color;
    color: $third-color;
    font-size: 20px;
    line-height: 180%;
    font-weight: 500;
    letter-spacing: 0.025em;
    padding: 0 36px;
    width: fit-content;
    border-radius: 50px;
    cursor: pointer;
  }

  &-item:nth-child(1) {
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;

    .news-tag {
      margin: 40px 0 20px;
    }

    .news-title {
      margin-bottom: 20px;
    }

    .news-desc {
      margin-bottom: 28px;
    }
  }

  &-image {
    flex-shrink: 0;
    position: relative;
  }

  &-read_more {
    display: block;
    color: $text-color;
    font-family: $font-primary;
    font-size: 20px;
    line-height: 180%; /* 36px */
    letter-spacing: 0.025px;
  }

  &-item:nth-of-type(n + 2) {
    display: flex;

    .news-title {
      font-size: 22px;
    }

    .news-read_more {
      display: none;
    }

    .news-tag {
      font-size: 18px;
      position: absolute;
      padding: 0 22px;
      bottom: 22px;
      right: 22px;
    }

    .news-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 40px;
    }
  }
}

.in-viewport {
  &.company {
    .container {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.introduce {
    .container {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.about {
    .global-heading {
      transform: translateY(0);
      opacity: 1;
    }

    .global-desc {
      transform: translateY(0);
      opacity: 1;
    }

    .about-item:nth-child(1) {
      transform: translateX(0);
      opacity: 1;
    }

    .about-item:nth-child(2) {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.everything {
    .everything-content {
      transform: translateX(0);
      opacity: 1;
    }

    .everything-image {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.features {
    .global-heading {
      transform: translateY(0);
      opacity: 1;
    }

    .global-desc {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.features-item:nth-child(n) {
    .features-image,
    .features-content {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.features-item {
    .features-content {
      .global-heading {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .features-item-child:nth-child(n) {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.integrations {
    .container {
      transform: scale(1);
    }
  }
  &.btn-style-2 {
    transform: translateY(0);
    opacity: 1;
  }

  &.testimonial {
    .container {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.news {
    .global-heading2 {
      transform: translateY(0);
      opacity: 1;
    }
    .news-desc_heading {
      transform: translateY(0);
      opacity: 1;
    }
    .news-list {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.footer {
    .footer-wrap {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 30px;
  }

  .introduce-list {
    width: 100%;
    grid-gap: 40px;
  }
  .introduce-item {
    padding: 0 30px 30px;
  }

  .testimonial-image {
    padding-left: 50px;
  }

  .news-list {
    row-gap: 40px;
    column-gap: 85px;
  }

  .everything {
    &-content {
      width: 50%;
    }

    &-image {
      width: 50%;
    }
  }

  .testimonial-box-desc {
    padding: 25px 40px 23px 30px;
    transform: translate(0, -80%);
  }
}

@media screen and (max-width: 1080px) {
  .company-image {
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .introduce-list {
    gap: 100px;
    grid-template-columns: repeat(1, 1fr);
  }

  .about-list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .everything {
    &-wrapper {
      flex-direction: column;
    }
    &-content {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    &-image {
      width: 100%;

      img {
        margin: 0 auto;
      }
    }
  }

  .features {
    &-item {
      flex-direction: column-reverse !important;
      width: 100%;
    }

    &-item:nth-child(n) {
      gap: 40px;
      .features-content {
        padding: 0;
        max-width: 100%;
        width: 100%;
      }

      .features-image {
        max-width: 100%;
      }
    }
  }

  .integrations {
    &-inner {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  .testimonial {
    &-slide {
      flex-direction: column;
      gap: 50px;
    }

    .global-heading2 {
      font-size: 45px;
    }

    .global-desc {
      font-size: 23px;
      margin-bottom: 30px;
      br {
        display: none;
      }
    }
  }

  .global-desc {
    br {
      display: none;
    }
  }

  .global-heading {
    br {
      display: none;
    }
  }

  .global-heading2 {
    br {
      display: none;
    }
  }

  .news {
    &-list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .company-heading {
    font-size: 3.646vw;
  }

  .company-image {
    gap: 5.208vw;
  }

  .global-heading {
    font-size: 4.688vw;
  }

  .global-desc {
    font-size: 3.125vw;

    br {
      display: none;
    }
  }

  .introduce {
    &-title {
      font-size: 3.906vw;
    }
  }

  .about {
    .global-heading {
      font-size: 5.729vw;
    }

    &-title {
      font-size: 4.167vw;
    }
    .btn {
      padding: 2.995vw 4.818vw;
      font-size: 2.865vw;
    }
  }

  .everything {
    & .global-heading {
      font-size: 4.688vw;
      margin-bottom: 3.906vw;
    }
  }

  .integrations {
    &-inner {
      flex-direction: column-reverse;
      gap: 5.208vw;
    }
  }

  .testimonial {
    &-slide {
      flex-direction: column;
      gap: 6.51vw;
    }

    .global-heading2 {
      font-size: 5.859vw;
    }

    .global-desc {
      font-size: 2.995vw;
      margin-bottom: 3.906vw;
      br {
        display: none;
      }
    }

    .btn-style-2 {
      font-size: 2.604vw;
    }
  }

  .features {
    &-list {
      .global-heading {
        font-size: 5.208vw;
      }
      .global-desc {
        font-size: 2.865vw;
      }
    }
  }

  .btn-style-2 {
    font-size: 3.125vw;
    padding: 2.474vw 4.948vw;
  }

  .global-heading2 {
    font-size: 4.688vw;
  }

  .testimonial {
    &-box-desc {
      display: none;
    }

    &-btn-nextslide {
      display: none;
    }

    &-image {
      padding-left: 0;
    }
  }

  .news {
    & .global-heading2 {
      font-size: 4.688vw;
    }

    &-desc_heading {
      font-size: 3.125vw;
    }

    &-title {
      font-size: 3.385vw;
    }

    &-desc {
      font-size: 2.604vw;
    }

    &-item:nth-of-type(n + 2) .news-title {
      font-size: 2.865vw;
    }

    &-read-more {
      font-size: 2.604vw;
    }

    &-item:nth-of-type(n + 2) {
      flex-direction: column;
      gap: 2.604vw;

      .news-tag {
        font-size: 2.344vw;
        position: relative;
        padding: 0 2.865vw;
        margin-top: 2.604vw;
        bottom: 0;
        right: 0;
      }

      .news-content {
        padding-left: 0;
    }
    }
  }
}

// sass assets/css/main.scss assets/css/main.css -w
