/* general */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  line-height: 100%;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/Nunito_Sans/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  overflow-x: hidden;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #696984;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 80px;
  color: #6c6c6c;
  line-height: 1.5;
}
.btn--white {
  background: #fff;
  box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
}
.btn--primary {
  background: #f48c06;
  color: #fff;
}

.global-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 180%;
  margin-bottom: 20px;
  text-align: center;
  color: #2f327d;
}
.global-heading span {
  color: #f48c06;
}
.global-desc {
  color: #696984;
  font-size: 24px;
  text-align: center;
  line-height: 180%;
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #fff2e1;
  clip-path: ellipse(100% 100% at top);
  min-height: 1118px;
}
.header-container {
  max-width: 1725px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.header-buttons {
  display: flex;
  gap: 34px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 37px;
}
.header-heading {
  color: #2f327d;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 34px;
}
.header-heading span {
  color: #f48c06;
}
.header-desc {
  color: #464646;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
  margin-top: 0;
}
.header-actions {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-actions .btn--primary {
  padding: 22px 38px;
  font-size: 24px;
  font-weight: 600;
}
.header-image img {
  display: block;
}

.menu {
  display: flex;
  gap: 80px;
  margin-left: auto;
  margin-right: 80px;
}
.menu-item {
  color: #252641;
  font-size: 22px;
  line-height: normal;
  letter-spacing: 0.0275em;
}
.menu-item-link {
  color: inherit;
  text-decoration: none;
}

.watch {
  display: flex;
  gap: 32px;
  align-items: center;
  color: #252641;
  font-size: 24px;
  font-weight: 400;
}
.watch--icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background-color: #fff;
  box-shadow: 0px 4px 100px 0px rgba(29, 28, 24, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pages */
.company {
  padding-top: 100px;
}
.company-wrapper {
  max-width: 1337px;
  margin: 0 auto;
}
.company-heading {
  color: #696984;
  font-size: 28px;
  font-weight: 500;
  line-height: 160%;
  text-align: center;
  margin-bottom: 32.93px;
}
.company-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-image img {
  display: block;
}

.introduce {
  padding-top: 160px;
  padding-bottom: 158px;
}
.introduce-list {
  max-width: 1470px;
  margin: 0 auto;
  margin-top: 153px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.introduce-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 55px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.introduce-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #5b72ee;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  margin-bottom: 30px;
}
.introduce-title {
  color: #2f327d;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 24px;
  flex: 1;
}
.introduce-desc {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
