/* general */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  line-height: 100%;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Popins/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/Nunito_Sans/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  overflow-x: hidden;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #696984;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 80px;
  color: #6c6c6c;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s linear;
}
.btn--white {
  background: #fff;
  box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
}
.btn--primary {
  background: #f48c06;
  color: #fff;
}
.btn--outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn--outline:hover {
  background: rgba(35, 189, 238, 0.9);
  border: none;
}

.global-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 180%;
  margin-bottom: 20px;
  text-align: center;
  color: #2f327d;
}
.global-heading span {
  color: #f48c06;
}
.global-desc {
  color: #696984;
  font-size: 24px;
  text-align: center;
  line-height: 180%;
  margin: 0;
  letter-spacing: 0.03em;
}

.btn-style-2 {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: #f48c06;
  border: 1px solid #f48c06;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.03em;
  text-decoration: none;
  border-radius: 80px;
  padding: 19px 38px;
  transition: all 0.2s linear;
}
.btn-style-2:hover {
  background: #fff;
  border: none;
}

.header {
  overflow: hidden;
  background-color: #fff2e1;
  clip-path: ellipse(100% 100% at top);
  min-height: 1118px;
}
.header-container {
  max-width: 1725px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.header-buttons {
  display: flex;
  gap: 34px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 37px;
}
.header-heading {
  color: #2f327d;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 34px;
}
.header-heading span {
  color: #f48c06;
}
.header-desc {
  color: #464646;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
  margin-top: 0;
}
.header-actions {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-actions .btn--primary {
  padding: 22px 38px;
  font-size: 24px;
  font-weight: 600;
}
.header-image img {
  display: block;
}

.menu {
  display: flex;
  gap: 80px;
  margin-left: auto;
  margin-right: 80px;
}
.menu-item {
  color: #252641;
  font-size: 22px;
  line-height: normal;
  letter-spacing: 0.0275em;
}
.menu-item-link {
  color: inherit;
  text-decoration: none;
}

.watch {
  display: flex;
  gap: 32px;
  align-items: center;
  color: #252641;
  font-size: 24px;
  font-weight: 400;
}
.watch--icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background-color: #fff;
  box-shadow: 0px 4px 100px 0px rgba(29, 28, 24, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pages */
.company {
  padding-top: 100px;
}
.company-wrapper {
  max-width: 1337px;
  margin: 0 auto;
}
.company-heading {
  color: #696984;
  font-size: 28px;
  font-weight: 500;
  line-height: 160%;
  text-align: center;
  margin-bottom: 32.93px;
}
.company-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
.company-image img {
  display: block;
}

.introduce {
  padding-top: 160px;
  padding-bottom: 158px;
}
.introduce-list {
  max-width: 1470px;
  margin: 0 auto;
  margin-top: 153px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.introduce-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 55px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.introduce-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #5b72ee;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  margin-bottom: 30px;
}
.introduce-item:nth-child(2) .introduce-icon {
  background-color: #f48c06;
}
.introduce-item:nth-child(3) .introduce-icon {
  background-color: #29B9E7;
}
.introduce-title {
  color: #2f327d;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 24px;
  flex: 1;
}
.introduce-desc {
  font-size: 20px;
}

.about {
  padding-bottom: 180px;
}
.about-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.about .global-heading {
  font-size: 44px;
  font-weight: 600;
}
.about .global-desc {
  max-width: 1101px;
  margin: 0 auto;
}
.about-list {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.about-item {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.about-item img {
  display: block;
}
.about-item::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  background: rgba(23, 27, 65, 0.5);
}
.about-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.about-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
.about .btn {
  padding: 23px 37px;
}

.everything {
  padding-bottom: 180px;
}
.everything-wrapper {
  max-width: 1547px;
  display: flex;
  align-items: center;
  gap: 47px;
  justify-content: space-between;
}
.everything .global-heading {
  text-align: start;
  font-size: 36px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 30px;
}
.everything .global-desc {
  text-align: start;
  margin-bottom: 30px;
}
.everything-content {
  max-width: 730px;
  padding-left: 25px;
  position: relative;
}
.everything-content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 73px;
  height: 73px;
  background: #F4B767;
  border-radius: 50%;
  transform: translateY(-13px);
  z-index: -1;
}
.everything-content::after {
  position: absolute;
  content: "";
  top: 60%;
  right: 0;
  width: 30px;
  height: 30px;
  background: #F4B767;
  border-radius: 50%;
  z-index: -1;
}
.everything-image {
  position: relative;
}
.everything-image img {
  display: block;
}
.everything-image .icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 6px;
  cursor: pointer;
}
.everything-link {
  color: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.features .global-heading {
  font-size: 36px;
}
.features-list {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
.features-list .global-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  text-align: start;
}
.features-list .global-desc {
  font-size: 22px;
  text-align: start;
}
.features-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-item img {
  display: block;
}
.features-list-child {
  padding-top: 30px;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features-child-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
}
.features-item:nth-child(1) .features-image {
  max-width: 60%;
}
.features-item:nth-child(1) .features-content {
  max-width: 40%;
  padding-left: 75px;
}
.features-item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.features-item:nth-child(2) {
  max-width: 1441px;
}
.features-item:nth-child(2) .features-image {
  max-width: 45%;
}
.features-item:nth-child(2) .features-content {
  max-width: 55%;
}
.features-item:nth-child(3) {
  max-width: 1461px;
}
.features-item:nth-child(3) .features-image {
  max-width: 42%;
}
.features-item:nth-child(3) .features-content {
  max-width: 58%;
}
.features-item:nth-child(4) {
  max-width: 1545px;
}
.features-item:nth-child(4) .features-image {
  max-width: 50%;
}
.features-item:nth-child(4) .features-content {
  max-width: 50%;
}
.features-item:nth-child(5) {
  max-width: 1486px;
}
.features-item:nth-child(5) .features-image {
  max-width: 50%;
}
.features-item:nth-child(5) .features-content {
  max-width: 50%;
}

/*# sourceMappingURL=main.css.map */
